body{
  height: 100vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: hsl(30, 38%, 92%);
  margin: 0;
  padding: 0;
  font-family: "Montserrat", "Fraunces";
}
.grid2{
  display: flex;
  flex-direction: row;
  border-radius: 1rem;
  overflow: hidden;
}

#image-desktop2{
  height: 22em;
}
#image-mobile2{
  display: none;
}
#image2{
  height: 22em;
}
#desc2{
  height: 22em;
  width: 15em;
  background-color: hsl(0, 0%, 100%);
  padding: 0 1.5rem;
  margin: 0 0 0 -1rem;
}
#button2{
  background-color: hsl(158, 36%, 37%);
  border-radius: 0.5rem;
  border: none;
  width: 14rem;
  height: 2.5rem;
  color: hsl(0, 0%, 100%);
  margin: 0 0.2rem 1rem 0;
  font-family: "Montserrat";
}
#button2 i{
  padding: 0 0.5rem 0 0;
}
h2{
  font-family: "Fraunces";
  margin: 0.8rem 0;
}
h4{
  color: hsl(228, 12%, 48%);
  letter-spacing: 0.3rem;
  font-size: 0.65rem;
  margin: 1.5rem 0 0 0;
}
#current-price2{
  font-size: 1.5rem;
  color: hsl(158, 36%, 37%);
  margin: 1.2rem 0;
  font-weight: 700;
  font-family: "Fraunces";
}
#old-price2{
  color: hsl(228, 12%, 48%);
  font-size: 0.8rem;
  padding: 0 0 0 1.5rem;
}
p{
  font-size: 14px;
  color: hsl(228, 12%, 48%);
  line-height: 1.3rem;
  margin: 1.2rem 0;
}
@media only screen and (max-width: 500px){
  .grid2{
    display: flex;
    flex-direction: column;
    height: 40rem;
    margin: 10em 0 0 0;
  }
  #image2{
    height: 15rem;
    width: 18rem;
    object-fit: cover;
    ;
  }
  #image-mobile2{
    height: 15rem;
    width: 18rem;
    display: block;
  }
  #image-desktop2{
    display: none;
  }
  #desc2{
    height: 22rem;
    margin: 0 0 0 0;
  }
}
